body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Crimson Text', serif ;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 5%;
}

h1{
    color: #66BFBF;
    font-size: 3.2rem;
    margin: 50px auto 0 auto;
    font-style: italic;
    font-family: 'Clicker Script', cursive;
}

h2{
    color: #66BFBF;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color: #11999E;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
}

a{
    color: #11999E;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: black;
}

.top-cloud{
    position: absolute;
    right: 500px;
    top: 100px;
}

.bottom-cloud{
    position: absolute;
    left: 430px;
    bottom: 200px;
}
.logo{
    width: 10rem; height: 10rem;
    border-radius: 50%;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.gif{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
    width: 25%;
    float: right;
    margin-left: 30px;
  }

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
    color:rgb(43, 40, 40);
    font-size: 0.9rem;
    padding: 20px 0;
  }

.top-container{
    margin: 0px;
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    margin: 100px 0;
  }

.bottom-container{
    background-color: rgb(230, 229, 231);
    padding: 50px 0 20px;
}

